[data-md-color-scheme="default"] {
  --md-primary-fg-color:               #f5f4f4;
  --md-primary-bg-color:               #37231f;
  --md-primary-bg-color--light:        #605452;
  --md-accent-fg-color:                #f53;
  --md-accent-fg-color--transparent:   #f533;

  --md-default-bg-color: #f5f4f4;
  --md-typeset-a-color: #f53;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:               #100A30;
  --md-primary-bg-color:               #f5f4f5;
  --md-primary-bg-color--light:        #e3e2e4;
  --md-accent-fg-color:                #f53;
  --md-accent-fg-color--transparent:   #f533;

  --md-default-bg-color: #100A30;
  --md-typeset-a-color: #f53;
}
